attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
coverage==6.0.2
Flask==2.0.2
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
keyboard==0.13.5
MarkupSafe==2.0.1
packaging==21.0
parso==0.8.2
pluggy==1.0.0
pudb==2021.1
py==1.10.0
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==3.0.0
pytest-pythonpath==0.7.3
requests==2.26.0
toml==0.10.2
tomli==1.2.1
urllib3==1.26.7
urwid==2.1.2
Werkzeug==2.0.2
